@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
html {font-family: "Segoe UI";}

.container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.calcDisplay {}

.calcButtonsContainer {
  display: grid;
  gap: 3px;
  width: 100%;
  padding: .5rem 3rem;
  background-color: rgb(102, 114, 155);
}.calcButtonsContainer * {
  height: 2.5rem;
  background-color: #eee;
  border-radius: 4px;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #222;
  overflow: hidden;
}

mjx-container {
  display: inline-block !important;
  margin: 0 !important;
  transform: translateY(-3px);
}